<section class="home container-home vertical-center">
   <div class="water-mark-holder vertical-center">
   <div class="nyc-watermark vertical-center"><img src="./assets/images/letters/a.png" alt="A Grade"></div>
   </div>
  <div class="water-mark-holder vertical-center">
      <div class="nyc-watermark vertical-center"><img src="./assets/images/letters/b.png" alt="B Grade"></div>
  </div>
  <div class="water-mark-holder vertical-center">
  <div class="nyc-watermark vertical-center"><img src="./assets/images/letters/c.png" alt="C Grade"></div>
  </div>
  <div class="water-mark-holder vertical-center">
  <div class="nyc-watermark vertical-center"><img src="./assets/images/letters/GP.png" alt="Grade Pending"></div>
  </div>
</section>
