.home-search-form {
  text-align: center;
  width: 50%;
}

.home-search-span {
  position: relative;
  left: -2rem;
  color: white;
  font-size: 2.6vw;
}
.home-search-container {
  min-height: 15vw;
}

